#!/usr/bin/env bash
# vim: ft=bash:

mkdir -p ~/.local/share/fonts

curl -sL https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/JetBrainsMono.tar.xz \
  | tar -xJC ~/.local/share/fonts

