#%= adguard.${DOMAIN} {
#%=   bind ${WG0_OWL_IP}
#%=   reverse_proxy ${WG0_OWL_IP}:8080
#%= }

#%= qbittorrent.${DOMAIN} {
#%=   bind ${WG0_OWL_IP}
#%=   reverse_proxy ${WG0_SLOTH_IP}:8080
#%= }

#%= homeassistant.${DOMAIN} {
#%=   bind ${WG0_OWL_IP}
#%=   reverse_proxy ${WG0_SLOTH_IP}:8123
#%= }

import /etc/caddy/conf.d/*
