[Unit]
Description=AdGuard Home container
Wants=network-online.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=adguard
Image=docker.io/adguard/adguardhome
AutoUpdate=registry
Network=host

Volume=/var/lib/adguard/work:/opt/adguardhome/work:Z
Volume=/var/lib/adguard/conf:/opt/adguardhome/conf:Z

[Install]
WantedBy=default.target
