[Unit]
Description=qBittorrent container
Wants=network-online.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=qbittorrent
Image=docker.io/qbittorrentofficial/qbittorrent-nox
AutoUpdate=registry
Network=host

Volume=/var/lib/qbittorrent/config:/config:Z
Volume=/var/lib/qbittorrent/downloads:/downloads:Z

[Install]
WantedBy=default.target
