[Match]
Name=wg0

[Network]
#%% case "$host" in
#%%   hippo)    ADDRESS=${WG0_HIPPO_ADDRESS};;
#%%   kangaroo) ADDRESS=${WG0_KANGAROO_ADDRESS};;
#%%   owl)      ADDRESS=${WG0_OWL_ADDRESS};;
#%%   sloth)    ADDRESS=${WG0_SLOTH_ADDRESS};;
#%% esac
Address=${ADDRESS}/24
DNS=${WG0_OWL_ADDRESS}
DNSDefaultRoute=yes
Domains=~.
